body {
    margin: 0px;
}

.header {
    width: 100%;
    height: 80px;
    background-color: #F0E68C;
    top: 0;
    z-index: 500;
}
.header p {
    margin: 0;
    text-align: center;
    position: relative;
    top: 15px;
    font-size: 35px;
}
.table {
    width: 100%;
    background-color: #8EDAE5;
    position: fixed;
    top: 80px;
    left: 0;
    z-index: 500;
}
.table ul {
    display:flex;
    list-style-type: none;
}
.table ul li {
    width: 25%;
    text-align: center;
    font-size: 20px;
    position: relative;
}
.table ul li:before {
  position: absolute;
  top: 50%;
  content: "/";
  display: block;
  transform: translate(-50%, -50%);
  color: #5bc8ac;
}
.man_list {
    display: inline-block;
    top: 50px;
    left: 50px;
    text-align: center;
    padding-left: 50px;
}
p {
    width: 230px;
}
.headline {
    color: #444;
    font-size: 23px;
    display: flex;
    align-items: center;
}
.headline:before,.headline:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #444;
    display: block;
}
.headline:before {
    margin-right: 4em;
}
.headline:after {
    margin-left: 4em;
}
.woman_list {
    display: inline-block;
    top: 50px;
    left: 50px;
    text-align: center;
    padding-left: 50px;
}
p {
    width: 230px;
}
.headline {
    color: #444;
    font-size: 23px;
    display: flex;
    align-items: center;
}
.headline:before,.headline:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #444;
    display: block;
}
.headline:before {
    margin-right: 4em;
}
.headline:after {
    margin-left: 4em;
}
.item_list {
    display: inline-block;
    top: 50px;
    left: 50px;
    text-align: center;
    padding-left: 50px;
}
p {
    width: 230px;
}
.headline {
    color: #444;
    font-size: 23px;
    display: flex;
    align-items: center;
}
.headline:before,.headline:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #444;
    display: block;
}
.headline:before {
    margin-right: 4em;
}
.headline:after {
    margin-left: 4em;
}
.color_list {
    display: inline-block;
    top: 50px;
    left: 50px;
    text-align: center;
    padding-left: 50px;
}
p {
    width: 230px;
}
.headline {
    color: #444;
    font-size: 23px;
    display: flex;
    align-items: center;
}
.headline:before,.headline:after {
    content: "";
    flex-grow: 1;
    height: 1px;
    background: #444;
    display: block;
}
.headline:before {
    margin-right: 4em;
}
.headline:after {
    margin-left: 4em;
}
#man {
    padding-top: 110px;
}
#woman {
    padding-top: 110px;
    margin-top: -110px;
}
#item {
    padding-top: 110px;
    margin-top: -110px;
}
#color {
    padding-top: 110px;
    margin-top: -110px;
}
.footer {
    width: 100%;
    height:50px;
    background-color: #676F74;
    color: white;
    position: relative;
}
.footer p {
    margin-left: auto;
    margin-right: auto;
    position: relative;
    top: 10px;
    /*left: 660px;*/
    margin-bottom: 0;
}
